.tamaño{
    height: 60px;
    width: 100px;
}
#Caja1{
    background-color: red;
}
#Caja2{
    background-color: blue;
}
#Caja3{
    background-color: green;
    position: static;
    top: -60px;
    left: 100px;

}
#Caja4{
    background-color: yellow;
}